<div class="main groups-edit">
  <div class="container">
    <div class="form-heading">グループ情報の編集</div>
    <div class="form groups-form">
      <div class="form-body">
        <% @group.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/groups/#{@group.id}/update", {multipart: true}) do %>
        <p>画像</p>
        <input name="image" type="file">
        <p>グループ名</p>
        <input name="name" value="<%= @group.name %>"><br>
        <input type="submit" value="更新する">
        <% end %>
      </div>
    </div>
  </div>
</div>