
<html>

<body class="body1">
  <div class="space">
    <div class="email-access">
      <p><%= link_to("/signup") do %>
      <input class="email-access-button" type="submit" value="メールアドレスで登録する">
      <% end %>
      </p>
    </div>

  </div>
</body>
</html>