
<html>

<body class="body2">
  <div class="space">
    <div class="email-access">
      <p>
      <%= link_to("login") do %>
      <input class="email-access-button" type="submit" value="メールアドレスでログインする">
      <% end %>
      </p>
    </div>
  </div>
</body>
</html>